<div class="book">
    <h3> View Book Details</h3>
</div>

<div class="row">
    <div class="card col-md-2">
        <div class="card-content">
            <div class="card-body p-0">
                <div>
                    <label> <b> Name: </b></label> {{book.name}}
                </div>
                <div>
                    <label> <b> Author: </b></label> {{book.author}}
                </div>
                <div>
                    <label> <b> Price: </b></label> {{book.price}}
                </div>
            </div>
        </div>
    </div>
</div>